.banner {
  background: linear-gradient(to right, #28a745, #bae9c8);
  border: 3px solid black;         /* Black border */
  border-radius: 15px;             /* Rounded corners */
  height: 100px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.overlay {
  padding: 10px 30px;
  color: rgb(19, 18, 18);
}

.banner h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}